.recipe {
  max-width:800px;
  margin: 40px auto;
  text-align: center;
  background-image: -moz-radial-gradient(50% 50%, circle, #140316 0%, #36157d8d 100%);
  padding: 40px;
  box-sizing: border-box;
  color: #fff;
  border-radius: 40px;
}
.recipe ul {
  display: flex-column;
  padding: 20px;
  justify-content: center;
  margin-top: 0;
  
}
.recipe li {
  list-style-type: disc;
  padding: 10px;
  margin-right: 10px;
  color: #fff;
  margin: 10px;
}
.recipe li::after {
  content: ",";
}
.recipe li:last-child::after {
  content: ".";
}
.method {

  line-height: 1.5em;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  text-align: left;
  
}